<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- APPENDERS -->
	<appender name="CONSOLE"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<appender name="FILE"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${user.home}/.webdl/webDL.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%-5p][%d{ISO8601}][%-4L] %F>%m%n" />
		</layout>
	</appender>

	<!-- LOGGERS -->
	<logger name="com.deveuge.webdl" additivity="false">
		<level value="INFO" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>